<section class="phx-hero">
  <svg class="t-canvas point"  phx-hook="MouseDownPoint" width="256" height="256">
    <circle cx="<%= @point.x %>" cy="<%= @point.y %>" r=6 stroke="<%= @color %>" fill="none" stroke-dasharray="3"/>
  </svg>
</section>
