<section>
  <input class="dash-border" value="<%= @session_id %>" />
  <a  href="<%= Routes.editor_traj_path(@socket, :index, @session_id) %>" ><button class="dash-border">Ir a la session</button></a>
</section>
